<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/basic.css">
</head>
<body>
    <%- include('header.ejs') -%>
    <h1>新闻 - ejs模板生成</h1>
    <h2><%=title%></h2>
    <p><%=content%></p>
    <script src='/public/js/basic.js'></script>
</body>
</html>